<ion-header>
  <ion-toolbar>
    <ion-buttons class="backbutton" slot="start" (click)="onClose()">
      <ion-button>
        <ion-icon slot="icon-only" mode="ios" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>PromotionModal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-img [src]="promotionDataModal.coverImg"></ion-img>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <div class="text-conten">
        <h3 class="font-header">{{ promotionDataModal.name }}</h3>
        <ion-text class="font-conten">{{ promotionDataModal.detail }}</ion-text>
      </div>
    </ion-col>
  </ion-row>
</ion-content>