<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBackClick()">
      <ion-button>
        <ion-icon slot="icon-only" mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>service-type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides class="slides-container" [options]="{ allowTouchMove: false }">
    <ion-slide>
      <ion-row *ngFor="let item of shopServiceTypeData">
        <ion-col size="12">
          <ion-card class="card-space" [ngClass]="{'selected-time': item.code === selectedServiceType.code}"
            (click)="clickServiceType(item)">
            <ion-card-content>
              <div style="font-size: 18px;"> {{ item.name }}</div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button size="medium" expand="block" (click)="nextSlide()">ต่อไป</ion-button>
        </ion-col>
      </ion-row>
    </ion-slide>

    <ion-slide>
      <ion-row *ngFor="let item of shopServiceDateData">
        <ion-col size="12">
          <ion-card class="card-space" [ngClass]="{'selected-time': item.date === selectedServiceDate.date}"
            (click)="clickServiceDate(item)">
            <ion-card-content>
              <div style="font-size: 18px;">{{ item.date }}</div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button size="medium" expand="block" (click)="nextSlide()">ต่อไป</ion-button>
        </ion-col>
      </ion-row>
    </ion-slide>

    <ion-slide>
      <ion-row>
        <ion-col size="6" *ngFor="let item of selectedServiceType.servicetime">
          <ion-card class="card-space" [ngClass]="{'selected-time': item.queue === selectedServiceTime.queue}"
            (click)="clickServiceTime(item)" [disabled]="checkTimeQueue(item.queue)">
            <ion-card-content>
              <div style="font-size: 18px;">{{ item.start }} - {{ item.end }}</div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button size="medium" expand="block" (click)="nextSlide()">ต่อไป</ion-button>
        </ion-col>
      </ion-row>
    </ion-slide>

    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <h3 class="title-phone">รายละเอียดการจอง</h3>
            <ion-label position="stacked">กรุณากรอกชื่อผู้จอง</ion-label>
            <ion-input type="text" [(ngModel)]="cusname"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">กรุณากรอกเบอร์โทรศัพท์ 10 หลัก</ion-label>
            <ion-input maxlength="10" type="text" [(ngModel)]="phoneNumber"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button size="medium" expand="block" (click)="nextSlide()">ต่อไป</ion-button>
        </ion-col>
      </ion-row>
    </ion-slide>

    <ion-slide>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item lines="none" class="thumbnail-size">
              <img class="thumbnail-image" [src]="logoimgShop">
              <ion-label class="thumbnail-label">
                <h1>{{shopName}}</h1>
                <!-- <h1>ชื่อร้าน</h1> -->
                <h3>รายละเอียดการจอง</h3>
              </ion-label>
            </ion-item>
            <div class="conten-title">
              <h1 class="title-date">{{ selectedServiceDate.date }}</h1>
              <span>{{ selectedServiceTime.start }}</span> - <span>{{ selectedServiceTime.end }}</span>
              <h4 class="ion-text-center">ชื่อผู้จอง : {{ cusname }}</h4>
              <h5 class="ion-text-center">เบอร์โทรศัพท์ : {{ phoneNumber }}</h5>
            </div>
            <ion-row>
              <ion-col size="6">
                <ion-button size="medium" expand="block" (click)="close()">ยกเลิก</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button size="medium" expand="block" (click)="saveQueue()">ยืนยัน</ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-content>

<!-- <ion-footer>
  <ion-row>
    <ion-col size="12">
      <ion-button size="medium" expand="block" (click)="nextSlide()">ต่อไป</ion-button>
      <ion-button size="medium" expand="block" (click)="nextSlide()">กลับไปหน้าเเรก</ion-button>
    </ion-col>
  </ion-row>
</ion-footer> -->