<ion-header>
  <ion-toolbar>
    <ion-title>service-type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides class="slides-container">
    <ion-slide class="slide-page-one">
      1
      <button type="submit" ion-button color="light" class="swiper-button-next swiper-button-black"
      (click)="nextSlide()"></button> 
      <button type="submit" ion-button color="light" class="swiper-button-prev swiper-button-black"
      (click)="prevSlide()"></button>
    </ion-slide>
    <ion-slide class="slide-page-two">
      2
      <button type="submit" ion-button color="light" class="swiper-button-next swiper-button-black"
      (click)="nextSlide()"></button> 
      <button type="submit" ion-button color="light" class="swiper-button-prev swiper-button-black"
      (click)="prevSlide()"></button>
    </ion-slide>
    <ion-slide class="slide-page-three">
      3
      <button type="submit" ion-button color="light" class="swiper-button-next swiper-button-black"
      (click)="nextSlide()"></button> 
      <button type="submit" ion-button color="light" class="swiper-button-prev swiper-button-black"
      (click)="prevSlide()"></button>
    </ion-slide>
    <ion-slide class="slide-page-four">
      4
      <button type="submit" ion-button color="light" class="swiper-button-next swiper-button-black"
      (click)="nextSlide()"></button> 
      <button type="submit" ion-button color="light" class="swiper-button-prev swiper-button-black"
      (click)="prevSlide()"></button>
    </ion-slide>
    <ion-slide class="slide-page-five">
      5
      <button type="submit" ion-button color="light" class="swiper-button-next swiper-button-black"
      (click)="nextSlide()"></button> 
      <button type="submit" ion-button color="light" class="swiper-button-prev swiper-button-black"
      (click)="prevSlide()"></button>
    </ion-slide>
    <!-- <button type="submit" ion-button color="light" class="swiper-button-prev swiper-button-black"
      (click)="prevSlide()"></button>
    <button type="submit" ion-button color="light" class="swiper-button-next swiper-button-black"
      (click)="nextSlide()"></button> -->
  </ion-slides>
  <!-- <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="./../../assets/slide-1.png" />
        <h2>ลงทะเบียนร้านค้า</h2>
        <p>ลงทะเบียนร้านค้าผ่านแอปพลิเคชัน <b>จัดคิว</b> ด้วย ชื่อร้าน และ พิกัดร้าน</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./../../assets/slide-2.png" />
      <h2>ลูกค้าจองคิวร้านของคุณ</h2>
      <p>แอปพลิเคชัน <b>จัดคิว</b> จะทำให้ลูกค้ามากมาย รู้จักร้านของคุณ และจองคิวมาที่ร้านคุณได้อย่างสะดวก</p>
    </ion-slide>

    <ion-slide>
      <img src="./../../assets/slide-3.png" />
      <h2>จัดการเวลาได้อย่างเป็นระบบ</h2>
      <p>แอปพลิเคชัน <b>จัดคิว</b> จะทำให้ร้านของคุณบริหารเวลาได้อย่างคุ้มค่า และ รวดเร็ว</p>
    </ion-slide>

  </ion-slides> -->
</ion-content>