.cover-image-content{
    width: 100%;
  }
  
  .cover-image{
    height: 190px;
    overflow: hidden;
  }

  .bg-color{
    background-color: rgb(241, 241, 241);
  }

  .txt-warning{
    margin-top: -7px;
    color: red;

  }

  .btn-color{
      background-color: #FBB03B;
  }