.cover-image-content{
    width: 100%;
  }
  
  .cover-image{
    height: 170px;
    overflow: hidden;
  }

  .bg-color{
    background-color: rgb(241, 241, 241);
  }

  .txt-warning{
    margin-top: -7px;
    color: red;

  }

  .bg-margin{
    margin-left: 23px;
    margin-bottom: 10px;
  }

  .txt-open{
    margin-top: -12px;
  }

  .selected-time{
    background-color: lightgray;
  }
