<ion-header>
  <ion-toolbar>
    <ion-title>เลือกเวลาที่ต้องการ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 class="cover-image">
    <img  class="cover-image-content" src="https://lh3.googleusercontent.com/proxy/VARuKUJ--bxO2Q0RcqINmLSciQfZywpwY76BrRjL6iN4WamwrM4n5yjK8gqz052Rbx0qvL8usOqKhQFQAIJDKxl41acvTm6KgHtLEJ12nflMnccGDWoAMnMRHmHlA6LdpzEB1mHCzbvHNrzrFQI">
  </div>

  <ion-row class="bg-color">
    <ion-col size="6" class="ion-text-start">
     <h5>{{dayNumber.queDate | moment: "DD MMMM YYYY"}}</h5> 
    </ion-col>
    <ion-col size="6" class="ion-text-end">
      <h5>จำนวน 1 คน</h5>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center">
    <ion-col size="12">
      <h4>เลือกเวลาที่ต้องการ</h4>
      <p class="txt-warning">จองเเล้วไม่สามารถยกเลิกได้ กรุณาตรวจสอบความถูกต้องก่อนทำการจอง</p>
    </ion-col>
  </ion-row>

  <div *ngIf="openTimeData">
    <ion-row class="ion-text-center">

      <ion-col size="12" (click)="clickTime()">
        <h3 class="txt-open">{{openTimeData.opendaily}}</h3>
      </ion-col>
  
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="5" class="bg-color bg-margin" *ngFor="let item of openTimeData.opentime">
        <h4>
          {{item.time}}
        </h4>
      </ion-col>
    </ion-row>

  </div>



</ion-content>

<ion-footer>
  <ion-row>
    <ion-col padding="10">
      <ion-button size="medium" expand="block">ยืนยัน</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>