<ion-header>
  <ion-toolbar>
    <ion-title>เลือกเวลาที่ต้องการ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 class="cover-image">
    <img  class="cover-image-content" src="https://lh3.googleusercontent.com/-gBd-kgbhCb4/XRhBFGUmRHI/AAAAAAAAV2o/IOr_cpxqi1EPZW0LsH8m-7kLo_SB7HWcgCLIBGAYYCw/w1080-h608-p-k-no-v0/">
  </div>

  <ion-row class="bg-color">
    <ion-col size="6" class="ion-text-start">
     <h5>วันที่ 28 พฤษภาคม 2563</h5> 
    </ion-col>
    <ion-col size="6" class="ion-text-end">
      <h5>จำนวน 1 คน</h5>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center">
    <ion-col size="12">
      <h3>เลือกเวลาที่ต้องการ</h3>
      <p class="txt-warning">จองเเล้วไม่สามารถยกเลิกได้ กรุณาตรวจสอบความถูกต้องก่อนทำการจอง</p>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col padding="10">
      <ion-button size="medium" expand="block">ยืนยัน</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>