.cardShop{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.thumbnail-size {
    height: 100px;
}
.thumbnail-image {
    height: 95px;
    width: 30%;
}
.thumbnail-label {
    padding-bottom: 30px;
    margin-top: 0px;
}
.icon-image {
    height: 20px;
}


ion-grid {
    margin-top: 0.5rem;
    background-color: white;
    padding: 10px;
    box-shadow: -2px 5px #b9b9b97a;
    border-radius: 10px;
  }
  ion-content {
    --padding-top: -100px !important;
    --background: rgb(241, 235, 235) !important;
  }


.btn-center {
    display: flex;
    justify-content: center;
    height: 40px;
  }

  .btn-color {
    color: rgb(0, 0, 0);
  }

  .btn-background{
    background-color: rgb(247, 120, 2);
  }