.full-container {
    height: 100%;
}

.card-space {
    margin: 0px 10px 0px 10px;
}

.btn-size {
    position: sticky;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    z-index: 1;
}

.select-date {
    background-color: lightgray;
}