.card-margin{
    margin-right: 5px;
    margin-left: 5px;
}

.txt-margin{
    margin-bottom: -10px;
}

.type-logo{
    width: 95px;
    height: 85px;
}

ion-grid {
    margin-top: 0.5rem;
    background-color: white;
    width: 185px;
    height: 130px;
    border-radius: 17px;
  }
  ion-content {
    --padding-top: -100px !important;
    --background: rgb(241, 235, 235) !important;
  }