<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <h5 class="txt-margin">
        วันนี้รับบริการแบบไหนดีครับ ?
      </h5>
    </ion-col>
  </ion-row>

<ion-row>
  <ion-col size="6">
    <ion-card class="ion-text-center card-margin">  
      <ion-card-content>
        Keep close to Nature's heart... and break clear away.
        <ion-card-subtitle >Card Subtitle</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    
  </ion-col>

  <ion-col size="6">
    <ion-card class="ion-text-center card-margin">  
      <ion-card-content>
        Keep close to Nature's heart... and break clear away.
        <ion-card-subtitle >Card Subtitle</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    
  </ion-col>
</ion-row>


  

</ion-content>
